/*Colours*/
:root {
    --green: #00663F;
}

.theme-darker {
    background-color: var(--green);
}

.nav-link {
    color: #f8f9fa;
}

.navbar-nav .nav-link.active {
    text-decoration: underline;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
    text-decoration: underline;
}

/* editor */
.editor { 
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
}

.editorContainer {
    position: relative;
    height: 30em;
}