/*Colours*/
:root {
    --green: #00663F;
}

.theme-darker {
    background-color: var(--green);
}

/* editor */
.editor { 
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
}

.editorContainer {
    position: relative;
    height: 30em;
}