#editor { 
    position: absolute;
    width: 50%;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
}

#editor-container {
    position: relative;
    height: 200px;
}

.code-input {
    display: none;
}